<%# -->#TODO - SAM: Anywhere you see "#", can you please add in the correct code. I was having difficulty troubleshooting the
Applications numbers %>
<div class="user-card">
  <div class="user-card__side user-card__side--front">
    <header>
      <div class="user-profile-white-box">
        <h2> <%= @user.first_name %> <%= @user.last_name %>
        </div>
      </header>
      <div class="user-profile-separator"></div>
      <div class="user_card_photo">
        <div class="user-profile-photo ">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, class: "user-profile" %>
          <% else %>
            <%= image_tag "avatar-placeholder.png", class: "user-profile" %>
          <% end %>
        </div>
      </div>
      <div class="user-profile-description">
        <table style="width:100%">
          <tr>
            <th>TASKS CREATED</th>
            <th></th>
          </tr>
          <tr>
            <td>Completed</td>
            <td><%=@user.created_tasks.where(status: "completed").count%></td>
          </tr>
          <tr>
            <td>Pending</td>
            <td><%=@user.created_tasks.where(status: "pending").count%></td>
          </tr>
          <tr>
            <td>In Progress</td>
            <td><%=@user.created_tasks.where(status: "in progress").count%></td>
          </tr>
          <tr>
            <td>Total</td>
            <td><%=@user.created_tasks.count%></td>
          </tr>
        </table>
        <br>
        <table style="width:100%">
          <tr>
            <th>PEOPLE HELPED</th>
            <th></th>
          </tr>
          <tr>
            <td>Completed</td>
            <td><%= @completed %></td>
          </tr>
          <tr>
            <td>In Progress</td>
            <td><%= @in_progress  %></td>
          </tr>
          <tr>
            <td>Total</td>
            <td><%= @total %></td>
          </tr>
        </table>
        <br>
        <%# <table style="width:100%">
        <tr>
          <th>Average Ratings</th>
          <th>#TODO:need to see the average stars here</th>
        </tr>
      </table> %>
      </div>
    </div>
  </div>
