<div class="user-card">
  <div class="user-card__side user-card__side--front">

    <header>
      <div class="user-profile-white-box">
        <h2> <%= @user.first_name %> <%= @user.last_name %>
      </div>
    </header>

    <div class="user-profile-separator"></div>
    <div class="user-profile-photo">
    <% if @user.avatar.attached? %>
    <%= cl_image_tag @user.avatar.key, class: "avatar user-profile-avatar" %>
    <% else %>
    <%= image_tag "avatar-placeholder.png", class: "avatar user-profile-avatar" %>
    <% end %>
    </div>

    <div class="user-profile-description">
      <table style="width:100%">
        <tr>
          <th>TASKS CREATED</th>
          <th></th>
        </tr>
        <tr>
          <td>Completed</td>
          <td><%=@user.created_tasks.where(status: "completed").count%></td>
        </tr>
        <tr>
          <td>Pending</td>
          <td><%=@user.created_tasks.where(status: "pending").count%></td>
        </tr>
        <tr>
          <td>In Progress</td>
          <td><%=@user.created_tasks.where(status: "in progress").count%></td>
        </tr>
        <tr>
          <td>Total</td>
          <td><%=@user.created_tasks.count%></td>
        </tr>
      </table>
      <br>
      <table style="width:100%">
        <tr>
          <th>APPLICATIONS SUBMITTED</th>
          <th><%=@user.helps.count%></th>
        </tr>
        <tr>
          <td>Completed</td>
          <td>#</td>
        </tr>
        <tr>
          <td>Pending</td>
          <td>#</td>
        </tr>
        <tr>
          <td>In Progress</td>
          <td>#</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>#</td>
        </tr>
      </table>
      <br>
      <table style="width:100%">
        <tr>
          <th>Average Ratings</th>
          <th></th>
        </tr>
      </table>
  </div>
     <br>
       figuring stuff out: 
<p>@user.helps.count:</p>
   

    </div>
</div>




