<div class="modal fade" id='<%= "applicationModal#{task.id}" %>' data-backdrop="true" tabindex="-1" role="dialog"
  aria-labelledby="taskModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Applications for "<%= task.title %>"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <% if task.helps.empty? %>
            <h6>No one has applied for your task yet.</h6>
            <% end %>
            <% task.helps.each_with_index do |help, index| %>
            <div class="col-12">
              <h6><%= "#{index + 1}. #{help.user.first_name} #{help.user.last_name}" %></h6>
              <div class="d-flex align-items-center">
                <%= cl_image_tag help.user.avatar.key, class: "avatar-large" %>
                <div class="ml-3">
                  <% if help.message.nil? %>
                  <p><i><%= help.user.first_name %> did not provide a message.</i></p>
                  <% else %>
                  <p><%= help.message %></p>
                  <% end %>
                </div>
              </div>
              <%= link_to "Assign", task_assign_path(task, help), method: :patch, remote: true, class: "btn btn-sm btn-success mt-2",
               data: { confirm: "Are you sure you want to pick #{help.user.first_name} as your helper?"} %>
              <%= link_to "Decline", task_help_path(task, help), method: :delete, remote: true, class: "btn btn-sm btn-danger mt-2",
               data: { confirm: "Are you sure you want to remove #{help.user.first_name}'s application?"} %>
              <hr>
            </div>

            <% end %>
          </div>


        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>