<div class="card-trip">
  <%= image_tag(photo) %>
  <h2 class="card-time-left"><%= due_date %></h2>

  <div class="card-trip-infos">
    <div>
      <h2><%= title %></h2>
      <p><%= description %></p>
    </div>
    <%= image_tag avatar, class: "card-trip-user avatar-bordered" %>
    <p class="card-user-name"><%= user_name %></p>
  </div>
  <div class="bottom">
    <% tags.max(8).each do |tag| %>
    <p class="tag shadow-sm"><%= tag.name %></p>
    <% end %>
  </div>
</div>

