<div class="card-task">
  <%= image_tag(photo) %>
  <div class="expire-tag">
    <% if due_date.to_i == 0 %>
      <h5 class="card-time-left text-danger">Expires today</h5>
      <% elsif due_date.to_i == 1 %>
      <h5 class="card-time-left text-danger">Expires tomorrow</h5>
    <% elsif due_date.to_i <= 7 %>
      <h5 class="card-time-left text-danger">Expiring in <%= due_date %> days</h5>
    <% else %>
      <h5 class="card-time-left"><%= due_date %> days left</h5>
    <% end %>
  </div>

  <div class="card-task-infos">
    <div>
      <h2><%= title %></h2>
      <p><%= description %></p>
    </div>
    <% if avatar.attached? %>
      <%= cl_image_tag avatar.key, class: "card-task-user avatar-bordered", title: user_name, "data-toggle": "tooltip", "data-placement": "bottom" %>
    <% else %>
      <%= image_tag "user-placeholder.png", class: "card-task-user avatar-bordered", title: user_name, "data-toggle": "tooltip", "data-placement": "bottom" %>
    <% end %>
  </div>

  <div class="card-task-footer">
    <% tags.max(8).each do |tag| %>
    <p class="tag shadow-sm"><%= tag.name %></p>
    <% end %>
  </div>
</div>
