<div class="modal" id="modal<%= taskId %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-3">
        <p
          class="text-right text-<%= status == "pending" ? "secondary" : status == "completed" ? "success" : "primary" %>">
          <%= status.upcase %></p>
        <h6>Location: <%= location %></h6>
        <h6>Due Date: <%= due_date %></h6>
        <p><%= description %></p>
        <% task_tags.each do |tag| %>
        <span class="tag card-text"><%= tag.name %></span>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to edit_task_path(taskId) do %>
        <button type="button" class="btn btn-outline-dark">Edit</button>
        <% end %>
        <%= link_to task_path(taskId), method: :delete, data: { confirm: "Are you sure?"} do %>
        <button type="button" class="btn btn-danger">Delete</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
