<div class="container">
  <%= simple_form_for :search, url: tasks_path, method: :get  do |f| %>
  <%= f.input :location, label: "City", class: "form-control", placeholder: "Your location", as: :select %>
  <%= f.input :due_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :task_tags, label: "Task Categories", class: "form-control", placeholder: "Task Category", as: :select %>

  <div class="form-actions">
    <%= f.submit "Search"%>
  </div>
  <% end %>
</div>