<div class="container">
  <%= simple_form_for tasks_path, method: :get do |f| %>
  <form>
 <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
      </div>
    <%= f.input :location %>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <%= f.input :due_date %>
    <%= f.input :task_tags %>
  </div>
  <div class="form-actions">
    <%= f.submit "Search", class: "btn-outline-secondary"%>
  </div>
  <% end %>
  </form>
</div>
