<div class="container">
  <%= simple_form_for :search, url: tasks_path, method: :get  do |f| %>
  <div id= "search-data"  class="form-search search-data" data-skills="<%= @location.to_json %>">
    <%= f.input nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search by city", label: "Location" %>
  </div>
  <%= f.input :due_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <div id="tags-search">
  <%= f.input :task_tags, label: "Task Categories", class: "form-control", collection: @task_tags, as: :select %>
  </div>

  <div class="form-actions">
    <%= f.submit "Search", class: "btn btn-dark"%>
  </div>
  <% end %>
</div>

<%= form_tag(root_path, method: 'get', class: "form-inline") do %>
  
<% end %>