<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :first_name,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "first_name" },
              placeholder: "First name",
              label: false %>
  <%= f.input :last_name,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "last_name" },
              placeholder: "Last name",
              label: false %>
  <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" },
              placeholder: "Email",
              label: false %>
  <%= f.input :password,
              required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" },
              placeholder: "Password",
              label: false %>
  <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" },
              placeholder: "Password confirmation",
              label: false %>
  </div>
  <div class="form-actions d-flex">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    <h6>Already a member? <%= render "devise/shared/links" %></h6>
  </div>
<% end %>
