<!-- Task modal -->
<div class="modal fade" id='<%= "taskModal#{task.id}" %>' data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="taskModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <div>
          <h3 class="modal-title"><%= task.title %></h3>
          <p class="text-primary"><i class="fas fa-map-pin"></i> <%= task.location %></p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <!-- Body: carousel -->
        <div id='<%= "taskCarouselIndicators#{task.id}" %>' class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% task.photos.each_with_index do |photo, index| %>
              <div class='carousel-item <%= index == 0 ? "active" : ""  %>'>
                <%= cl_image_tag photo.key, class: "d-block carousel-photo" %>
              </div>
            <% end %>
          </div>
          <% if task.photos.length > 1 # show controls only if there is more than 1 photo %>
            <a class="carousel-control-prev" href='<%= "#taskCarouselIndicators#{task.id}" %>' role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href='<%= "#taskCarouselIndicators#{task.id}" %>' role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          <% end %>
        </div>
        <!-- Body: description -->
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-lg-4 modal-user-container">
              <% if task.creator.avatar.attached? %>
                <%= cl_image_tag task.creator.avatar.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <%= image_tag "avatar-placeholder.png", class: "card-trip-user avatar-bordered" %>
              <% end %>
              <h6 class="text-secondary"><%= task.creator.shortname %></h6>
            </div>
            <div class="col-lg-8">
              <%= task.description %>
            </div>
          </div>
          <div class="modal-tags">
            <% task.tags.each do |tag| %>
              <p class="tag shadow-sm">#<%= tag.name %></p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <h4 class="mr-auto"><%= (task.due_date - Time.zone.today).to_i %> days left</h4>
        <!-- Footer: apply button -->
        <% unless task.creator == current_user %>
          <% if current_user %>
            <% if task.helps.find_by(user: current_user) %>
              <% unless current_page?(dashboard_path) %>
                <p>Already applied</p>
                <%= link_to "See it in your dashboard", dashboard_path, class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <%= button_tag "Apply to this task", class: "btn btn-success", "data-toggle": "modal", "data-target": "#helpModal#{task.id}" %>
            <% end %>
          <% else %>
            <%= link_to "Log in to apply!", new_user_session_path, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% unless task.creator == current_user && task.helps.find_by(user: current_user) %>
  <!-- Help request modal -->
  <div class="modal fade" id='<%= "helpModal#{task.id}" %>' tabindex="-1" role="dialog" aria-labelledby="Help Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Apply to help <%= task.creator.shortname %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <%= simple_form_for [task, Help.new] do |f| %>
            <%= f.input :message, placeholder: "Write a short description of why you want to help" %>
            <%= f.button :submit, class: "btn btn-success float-right", value: "Send", data: { disable_with: "Sending..." } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
