<div class="card-task">
  <%= image_tag(task.photos.empty? ? "https://picsum.photos/500" : task.photos[0]) %>

 

  <div class="card-task-infos">
    <div>
      <h2><%= task.title %></h2>
      <p><%= task.location %></p>
      <p><%= task.description %></p>
    </div>
    <% if task.creator.avatar.attached? %>
      <%= cl_image_tag task.creator.avatar.key, class: "card-task-user avatar-bordered", title: task.creator.shortname, "data-toggle": "tooltip", "data-placement": "bottom" %>
    <% else %>
      <%= image_tag "avatar-placeholder.png", class: "card-task-user avatar-bordered", title: task.creator.shortname, "data-toggle": "tooltip", "data-placement": "bottom" %>
    <% end %>
  </div>

  <div class="card-task-footer">
    <% task.tags.max(8).each do |tag| %>
      <p class="tag shadow-sm">#<%= tag.name %></p>
    <% end %>
  </div>
</div>
