<div class="container">
  <br>
  <h1 class="text-center">Hi <%= current_user.first_name.capitalize %>!</h1>
  <br>
  <h4>Tasks you created</h4>
  <div class="row">
    <div class="d-flex justify-content-around flex-wrap">
      <% if @created_tasks.empty? %>
      <p style="margin-left: 16px">You haven't created any task yet</p>
      <% else %>
      <% @created_tasks.each do |task| %>
      <div class="card m-3" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title"><%= task.title %></h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted"><%= task.location %></h6>
          <p class="card-text">Due date: <%= task.due_date %></p>
          <br>
          <div class="d-flex justify-content-between">
            <p
              class="text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>">
              <%= task.status.upcase %></p>
            <!-- Modal -->
            <p type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
              data-target="#modal<%= task.id %>">More info</p>
            <%= render 'shared/creator_task_modal',
                    title: task.title,
                    taskId: task.id,
                    description: task.description,
                    location: task.location,
                    avatar: "https://picsum.photos/200",
                    user_name: task.creator.first_name,
                    photos: ["https://picsum.photos/600", "https://picsum.photos/601", "https://picsum.photos/602", "https://picsum.photos/603"],
                    tags: task.tags,
                    due_date: "12h",
                    task_tags: task.tags,
                    status: task.status
                %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h4>Tasks you applied for</h4>
  <div class="row">
    <% if @applied_to_help.empty? %>
    <div class="mr-3">
      <p style="margin-left: 16px">You haven't applied to any task yet.</p>
    </div>
    <% else %>
    <% @applied_to_help.each do |help| %>
    <% task = help.task %>
    <% if task.status == 'in progress' || task.status == 'pending' %>
    <div class="col-sm-12 col-lg-4">


      <div class="card m-3" style="width:   22rem;">
        <div class="card-body">
          <h5 class="card-title"><%= task.title %></h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted"><%= task.location %></h6>
          <p class="card-text">Due date: <%= task.due_date %></p>
          <br>

          <p
            class="text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>">
            <%= task.status.upcase %></p>

          <!-- Large modal -->
          <p type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
            data-target="#modal<%= task.id %>">More info</p>
          <div class="modal" id="modal<%= task.id %>" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= task.title %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p
                    class="text-right text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>">
                    <%= task.status.upcase %></p>
                  <h6>Location: <%= task.location %></h6>
                  <h6>Due Date: <%= task.due_date %></h6>
                  <p><%= task.description %></p>
                  <% task.tags.each do |tag| %>
                  <span class="tag card-text"><%= tag.name %></span>
                  <% end %>
                </div>
                <div class="modal-footer">

                  <%= link_to task_help_path(task, help), method: "delete", data: { confirm: "Are you sure?"} do %>
                  <button type="button" class="btn btn-danger">Undo application</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>