<div class="container">
  <br>
  <h1 class="text-center">Hi <%= current_user.first_name.capitalize %>!</h1>
  <br>
  <h4>Tasks you created</h4>
  <div class="row">
    <div class="d-flex justify-content-around flex-wrap">
      <% @created_tasks.each do |task| %>
        <div class="card mb-3" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= task.location %></h6>
            <p class="card-text">Due date: <%= task.due_date %></p>

            <br>


            <div class="d-flex justify-content-between">
              <p class="text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>"><%= task.status.upcase %></p>

              <!-- Large modal -->
              <p type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#modal<%= task.id %>">More info</p>
              <div id="modal<%= task.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content p-3">
                    <div>
                      <div class="d-flex justify-content-between">
                        <h1><%= task.title %></h1>
                        <p>
                          <%= link_to edit_task_path(task) do %>
                            <i class="fas fa-pen"></i>
                          <% end %>
                          <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?"} do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </p>
                      </div>
                      <div class="d-flex justify-content-between">

                      <h5>Location: <%= task.location %></h5>
                      <p class="text-right text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>"><%= task.status.upcase %></p>
                      </div>
                      <h6>Due Date: <%= task.due_date %></h6>
                      <p><%= task.description * 5 %></p>
                      <% task.tags.each do |tag| %>
                        <span class="tag card-text"><%= tag.name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h4>Tasks you applied for</h4>
  <div class="row">
    <div class="d-flex justify-content-around flex-wrap">
      <% @helper_tasks.each do |task| %>
        <div class="card mb-3" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= task.location %></h6>
            <p class="card-text">Due date: <%= task.due_date %></p>

            <br>


            <div class="d-flex justify-content-between">
              <p class="text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>"><%= task.status.upcase %></p>

              <!-- Large modal -->
              <p type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#modal<%= task.id %>">More info</p>
              <div id="modal<%= task.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content p-3">
                    <div>
                      <div class="d-flex justify-content-between">
                        <h1><%= task.title %></h1>
                        <% help = task.helps.find_by(user: current_user) %>
                        <% if task.status == 'in progress' || task.status == 'pending' %>
                          <%= link_to task_help_path(task, help), method: :delete, data: { confirm: "Are you sure?"} do %>
                            <p class="text-primary"><i class="fas fa-trash-alt"></i>   Cancel application</p>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="d-flex justify-content-between">

                      <h5>Location: <%= task.location %></h5>
                      <p class="text-right text-<%= task.status == "pending" ? "secondary" : task.status == "completed" ? "success" : "primary" %>"><%= task.status.upcase %></p>
                      </div>
                      <h6>Due Date: <%= task.due_date %></h6>
                      <p><%= task.description * 5 %></p>
                      <% task.tags.each do |tag| %>
                        <span class="tag card-text"><%= tag.name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
