<div class="home-container">
  <div class="d-flex home-container-inner">
    <div class="home-search-box">
      <%= render "shared/search_form" %>
    </div>

    <div class="home-tasks">
      <% @tasks.each_with_index do |task, index| %>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3" data-toggle="modal" data-target=<%= "#taskModal#{task.id}" %>>
          <div class=<%= "fadein-#{index + 2}"%>>
            <%= render "shared/task_card", task: task %>
          </div>
        </div>
        <%= render "shared/task_modal", task: task %>
      <% end %>
    </div>
  </div>
</div>
