<!DOCTYPE html>
<html>
  <head>
    <title>Local Help</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/favicon_tags" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: true %>
  </head>
  <body>
    <div id="root">
      <%= render "layouts/navbar" %>
      <main id="content">
        <%= yield %>
      </main>
      <%= render "layouts/flashes" %>
      <% unless devise_controller? %>
        <%= render "layouts/footer" %>
      <% end %>
    </div>
  </body>
</html>
