<!DOCTYPE html>
<html>
  <head>
    <title>Local Help</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if Rails.env.production? %>
      <%= render "layouts/favicon_tags" %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "map" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <div id="root">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <main id="content">
        <%= yield %>
      </main>
      <%= yield(:after_js) %>
      <%= javascript_pack_tag "map" %>
      <% unless devise_controller? %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </body>
</html>
